.content-wrap {
    border: 0;
    background-image: url("../image/bg-web.jpg");
    background-size: cover;
}

#page-content-wrapper {
    margin-bottom: 0;
}

.list-group>.list-group-item-action {
    color: white;
}

@media print {
    .card-img-top {
        display: none;
    }
    .bd-highlight {
        display: none;
    }
    #sidebar-wrapper {
        display: none;
    }
    .card-footer {
        display: none;
    }
    .container-fluid #btnPrintlaporan {
        display: none;
    }
}